h3.h3-1{color: #0000cd;}
b.b1{color: #00a960;}
b.b2{color: #ff0000;}

img.imgchange1{width:855px; height:357px;}
//上の画像の元のサイズ　幅：1155px　高さ：657px　どちらも200引いた
//img.imgchange2{width:855px; height:357px;}
//img.imgchange2{width:855px; height:357px;}
