h2.h2-1{color: #00a960;}
h3.h3-1{color: #0000cd;}
b.b1{color: #00a960;}
b.b2{color: #ff0000;}

/*画像のサイズ調整*/
img.imgchange1{width:855px; height:457px;}
img.imgchange2{width:853px; height:453px;}
img.imgchange3{width:856px; height:454px;}
